In [ ]:
group members = "Lucas Pedroza, Michael Willekens, Yoann Allardin, Konstantin Baron von Drachenfels"

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
import sys
sys.path.append("/Users/bolli/fastai/old/")

from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

C:\Users\bolli\Anaconda3\envs\fastai-cpu-v0.7\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
C:\Users\bolli\Anaconda3\envs\fastai-cpu-v0.7\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
PATH = "data/cars/"

In [4]:
!ls {PATH}

training.csv

In [5]:
!head data/cars/training.csv

RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,1,Alloy,89046,OTHER ASIAN,MEDIUM,OTHER,8155,9829,11636,13600,7451,8552,11597,12409,NULL,NULL,21973,33619,FL,7100,0,1113
2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1,Alloy,93593,AMERICAN,LARGE TRUCK,CHRYSLER,6854,8383,10897,12572,7456,9222,11374,12791,NULL,NULL,19638,33619,FL,7600,0,1053
3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2,Covers,73807,AMERICAN,MEDIUM,CHRYSLER,3202,4760,6943,8457,4035,5557,7146,8702,NULL,NULL,19638,33619,FL,4900,0,1389
4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,1,Alloy,65617,AMERICAN,COMPACT,CHRYSLER,1893,2675,4658,5690,1844,2646,4375,5518,NULL,NULL,19638,33619,FL,4100,0,630
5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2,Covers,69367,AMERICAN,COMPACT,FORD,3913,5054,7723,8707,3247,4384,6739,7911,NULL,NULL,19638,33619,FL,4000,0,1020
6,0,12/7/2009,ADESA,2004,5,MITSUBISHI,GALANT 4C,ES,4D SEDAN ES,WHITE,AUTO,2,Covers,81054,OTHER ASIAN,MEDIUM,OTHER,3901,4908,6706,8577,4709,5827,8149,9451,NULL,NULL,19638,33619,FL,5600,0,594
7,0,12/7/2009,ADESA,2004,5,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,AUTO,2,Covers,65328,OTHER ASIAN,MEDIUM,OTHER,2966,4038,6240,8496,2980,4115,6230,8603,NULL,NULL,19638,33619,FL,4200,0,533
8,0,12/7/2009,ADESA,2005,4,FORD,TAURUS,SE,4D SEDAN SE,WHITE,AUTO,2,Covers,65805,AMERICAN,MEDIUM,FORD,3313,4342,6667,7707,3713,4578,6942,8242,NULL,NULL,19638,33619,FL,4500,0,825
9,0,12/7/2009,ADESA,2007,2,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,AUTO,2,Covers,49921,OTHER ASIAN,MEDIUM,OTHER,6196,7274,9687,10624,6417,7371,9637,10778,NULL,NULL,21973,33619,FL,5600,0,482

In [6]:
df_raw = pd.read_csv(f'{PATH}training.csv', low_memory=False, 
                     parse_dates=["PurchDate"])

In [7]:
df_raw

       RefId  IsBadBuy  PurchDate Auction  VehYear  ...  VNZIP1 VNST VehBCost IsOnlineSale WarrantyCost
0          1         0 2009-12-07   ADESA     2006  ...   33619   FL   7100.0            0         1113
1          2         0 2009-12-07   ADESA     2004  ...   33619   FL   7600.0            0         1053
2          3         0 2009-12-07   ADESA     2005  ...   33619   FL   4900.0            0         1389
3          4         0 2009-12-07   ADESA     2004  ...   33619   FL   4100.0            0          630
4          5         0 2009-12-07   ADESA     2005  ...   33619   FL   4000.0            0         1020
...      ...       ...        ...     ...      ...  ...     ...  ...      ...          ...          ...
72978  73010         1 2009-12-02   ADESA     2001  ...   30212   GA   4200.0            0          993
72979  73011         0 2009-12-02   ADESA     2007  ...   30212   GA   6200.0            0         1038
72980  73012         0 2009-12-02   ADESA     2005  ...   30212   GA   8200.0            0         1893
72981  73013         0 2009-12-02   ADESA     2006  ...   30212   GA   7000.0            0         1974
72982  73014         0 2009-12-02   ADESA     2006  ...   30212   GA   8000.0            0         1313

[72983 rows x 34 columns]

In [8]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [9]:
display_all(df_raw.tail().T)

,72978,72979,72980,72981,72982
RefId,73010,73011,73012,73013,73014
IsBadBuy,1,0,0,0,0
PurchDate,2009-12-02 00:00:00,2009-12-02 00:00:00,2009-12-02 00:00:00,2009-12-02 00:00:00,2009-12-02 00:00:00
Auction,ADESA,ADESA,ADESA,ADESA,ADESA
VehYear,2001,2007,2005,2006,2006
VehicleAge,8,2,4,3,3
Make,MERCURY,CHEVROLET,JEEP,CHEVROLET,MAZDA
Model,SABLE,MALIBU 4C,GRAND CHEROKEE 2WD V,IMPALA,MAZDA6
Trim,GS,LS,Lar,LS,s
SubModel,4D SEDAN GS,4D SEDAN LS,4D WAGON LAREDO,4D SEDAN LS,4D SEDAN S
Color,BLACK,SILVER,SILVER,WHITE,SILVER
Transmission,AUTO,AUTO,AUTO,AUTO,AUTO
WheelTypeID,1,NaN,1,1,1
WheelType,Alloy,NaN,Alloy,Alloy,Alloy
VehOdo,45234,71759,88500,79554,66855
Nationality,AMERICAN,AMERICAN,AMERICAN,AMERICAN,OTHER ASIAN
Size,MEDIUM,MEDIUM,MEDIUM SUV,LARGE,MEDIUM
TopThreeAmericanName,FORD,GM,CHRYSLER,GM,OTHER
MMRAcquisitionAuctionAveragePrice,1996,6418,8545,6420,7535
MMRAcquisitionAuctionCleanPrice,2993,7325,9959,7604,8771
MMRAcquisitionRetailAveragePrice,2656,7431,9729,7434,8638
MMRAcquisitonRetailCleanPrice,3732,8411,11256,8712,9973
MMRCurrentAuctionAveragePrice,2190,6785,8375,6590,7730
MMRCurrentAuctionCleanPrice,3055,8132,9802,7684,9102
MMRCurrentRetailAveragePrice,4836,10151,11831,10099,11954
MMRCurrentRetailCleanPrice,5937,11652,14402,11228,13246
PRIMEUNIT,NaN,NaN,NaN,NaN,NaN
AUCGUART,NaN,NaN,NaN,NaN,NaN
BYRNO,18111,18881,18111,18881,18111
VNZIP1,30212,30212,30212,30212,30212
VNST,GA,GA,GA,GA,GA
VehBCost,4200,6200,8200,7000,8000
IsOnlineSale,0,0,0,0,0
WarrantyCost,993,1038,1893,1974,1313

In [10]:
display_all(df_raw.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
RefId,72983,NaN,NaN,NaN,NaT,NaT,36511.4,21077.2,1,18257.5,36514,54764.5,73014
IsBadBuy,72983,NaN,NaN,NaN,NaT,NaT,0.122988,0.328425,0,0,0,0,1
PurchDate,72983,517,2010-11-23 00:00:00,384,2009-01-05,2010-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auction,72983,3,MANHEIM,41043,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VehYear,72983,NaN,NaN,NaN,NaT,NaT,2005.34,1.73125,2001,2004,2005,2007,2010
VehicleAge,72983,NaN,NaN,NaN,NaT,NaT,4.17664,1.71221,0,3,4,5,9
Make,72983,33,CHEVROLET,17248,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Model,72983,1063,PT CRUISER,2329,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trim,70623,134,Bas,13950,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SubModel,72975,863,4D SEDAN,15236,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Color,72975,16,SILVER,14875,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Transmission,72974,3,AUTO,70398,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WheelTypeID,69814,NaN,NaN,NaN,NaT,NaT,1.4943,0.52129,0,1,1,2,3
WheelType,69809,3,Alloy,36050,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VehOdo,72983,NaN,NaN,NaN,NaT,NaT,71500,14578.9,4825,61837,73361,82436,115717
Nationality,72978,4,AMERICAN,61028,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Size,72978,12,MEDIUM,30785,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TopThreeAmericanName,72978,4,GM,25314,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MMRAcquisitionAuctionAveragePrice,72965,NaN,NaN,NaN,NaT,NaT,6128.91,2461.99,0,4273,6097,7765,35722
MMRAcquisitionAuctionCleanPrice,72965,NaN,NaN,NaN,NaT,NaT,7373.64,2722.49,0,5406,7303,9021,36859
MMRAcquisitionRetailAveragePrice,72965,NaN,NaN,NaN,NaT,NaT,8497.03,3156.29,0,6280,8444,10651,39080
MMRAcquisitonRetailCleanPrice,72965,NaN,NaN,NaN,NaT,NaT,9850.93,3385.79,0,7493,9789,12088,41482
MMRCurrentAuctionAveragePrice,72668,NaN,NaN,NaN,NaT,NaT,6132.08,2434.57,0,4275,6062,7736,35722
MMRCurrentAuctionCleanPrice,72668,NaN,NaN,NaN,NaT,NaT,7390.68,2686.25,0,5414,7313,9013,36859
MMRCurrentRetailAveragePrice,72668,NaN,NaN,NaN,NaT,NaT,8775.72,3090.7,0,6536,8729,10911,39080
MMRCurrentRetailCleanPrice,72668,NaN,NaN,NaN,NaT,NaT,10145.4,3310.25,0,7784,10103,12309,41062
PRIMEUNIT,3419,2,NO,3357,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AUCGUART,3419,2,GREEN,3340,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BYRNO,72983,NaN,NaN,NaN,NaT,NaT,26345.8,25717.4,835,17212,19662,22808,99761
VNZIP1,72983,NaN,NaN,NaN,NaT,NaT,58043.1,26151.6,2764,32124,73108,80022,99224
VNST,72983,37,TX,13596,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VehBCost,72983,NaN,NaN,NaN,NaT,NaT,6730.93,1767.85,1,5435,6700,7900,45469
IsOnlineSale,72983,NaN,NaN,NaN,NaT,NaT,0.0252799,0.156975,0,0,0,0,1
WarrantyCost,72983,NaN,NaN,NaN,NaT,NaT,1276.58,598.847,462,837,1155,1623,7498

In [11]:
m = RandomForestRegressor(n_jobs=-1)
# The following code is supposed to fail due to string values in the input data
m.fit(df_raw.drop('IsBadBuy', axis=1), df_raw.IsBadBuy)

TypeError: invalid type promotion

In [12]:
df_raw.PurchDate

0       2009-12-07
1       2009-12-07
2       2009-12-07
3       2009-12-07
4       2009-12-07
           ...
72978   2009-12-02
72979   2009-12-02
72980   2009-12-02
72981   2009-12-02
72982   2009-12-02
Name: PurchDate, Length: 72983, dtype: datetime64[ns]

In [15]:
??add_datepart

In [14]:
add_datepart(df_raw, 'PurchDate')
df_raw.PurchYear.head()

0    2009
1    2009
2    2009
3    2009
4    2009
Name: PurchYear, dtype: int64

In [16]:
df_raw.columns

Index(['RefId', 'IsBadBuy', 'Auction', 'VehYear', 'VehicleAge', 'Make',
       'Model', 'Trim', 'SubModel', 'Color', 'Transmission', 'WheelTypeID',
       'WheelType', 'VehOdo', 'Nationality', 'Size', 'TopThreeAmericanName',
       'MMRAcquisitionAuctionAveragePrice', 'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice',
       'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice',
       'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice',
       'PRIMEUNIT', 'AUCGUART', 'BYRNO', 'VNZIP1', 'VNST', 'VehBCost',
       'IsOnlineSale', 'WarrantyCost', 'PurchYear', 'PurchMonth', 'PurchWeek',
       'PurchDay', 'PurchDayofweek', 'PurchDayofyear', 'PurchIs_month_end',
       'PurchIs_month_start', 'PurchIs_quarter_end', 'PurchIs_quarter_start',
       'PurchIs_year_end', 'PurchIs_year_start', 'PurchElapsed'],
      dtype='object')

In [18]:
df_raw.head()

   RefId  IsBadBuy Auction  VehYear  ...  PurchIs_quarter_start PurchIs_year_end PurchIs_year_start PurchElapsed
0      1         0   ADESA     2006  ...                  False            False              False   1260144000
1      2         0   ADESA     2004  ...                  False            False              False   1260144000
2      3         0   ADESA     2005  ...                  False            False              False   1260144000
3      4         0   ADESA     2004  ...                  False            False              False   1260144000
4      5         0   ADESA     2005  ...                  False            False              False   1260144000

[5 rows x 46 columns]

In [16]:
?train_cats

In [26]:
train_cats(df_raw)

In [28]:
df_raw.Size.cat.categories

Index(['COMPACT', 'CROSSOVER', 'LARGE', 'LARGE SUV', 'LARGE TRUCK', 'MEDIUM',
       'MEDIUM SUV', 'SMALL SUV', 'SMALL TRUCK', 'SPECIALTY', 'SPORTS', 'VAN'],
      dtype='object')

In [29]:
df_raw.Color.cat.categories

Index(['BEIGE', 'BLACK', 'BLUE', 'BROWN', 'GOLD', 'GREEN', 'GREY', 'MAROON',
       'NOT AVAIL', 'ORANGE', 'OTHER', 'PURPLE', 'RED', 'SILVER', 'WHITE',
       'YELLOW'],
      dtype='object')

In [30]:
df_raw.Color.cat.codes

0        12
1        14
2         7
3        13
4        13
         ..
72978     1
72979    13
72980    13
72981    14
72982    13
Length: 72983, dtype: int8

In [31]:
display_all(df_raw.isnull().sum().sort_index()/len(df_raw))

AUCGUART                             0.953153
Auction                              0.000000
BYRNO                                0.000000
Color                                0.000110
IsBadBuy                             0.000000
IsOnlineSale                         0.000000
MMRAcquisitionAuctionAveragePrice    0.000247
MMRAcquisitionAuctionCleanPrice      0.000247
MMRAcquisitionRetailAveragePrice     0.000247
MMRAcquisitonRetailCleanPrice        0.000247
MMRCurrentAuctionAveragePrice        0.004316
MMRCurrentAuctionCleanPrice          0.004316
MMRCurrentRetailAveragePrice         0.004316
MMRCurrentRetailCleanPrice           0.004316
Make                                 0.000000
Model                                0.000000
Nationality                          0.000069
PRIMEUNIT                            0.953153
PurchDay                             0.000000
PurchDayofweek                       0.000000
PurchDayofyear                       0.000000
PurchElapsed                         0.000000
PurchIs_month_end                    0.000000
PurchIs_month_start                  0.000000
PurchIs_quarter_end                  0.000000
PurchIs_quarter_start                0.000000
PurchIs_year_end                     0.000000
PurchIs_year_start                   0.000000
PurchMonth                           0.000000
PurchWeek                            0.000000
PurchYear                            0.000000
RefId                                0.000000
Size                                 0.000069
SubModel                             0.000110
TopThreeAmericanName                 0.000069
Transmission                         0.000123
Trim                                 0.032336
VNST                                 0.000000
VNZIP1                               0.000000
VehBCost                             0.000000
VehOdo                               0.000000
VehYear                              0.000000
VehicleAge                           0.000000
WarrantyCost                         0.000000
WheelType                            0.043490
WheelTypeID                          0.043421
dtype: float64

In [32]:
os.makedirs('tmp', exist_ok=True)
df_raw.to_feather('tmp/cars-raw')

In [30]:
df_raw = pd.read_feather('tmp/cars-raw')

In [33]:
?proc_df

In [35]:
df, y, nas = proc_df(df_raw, 'IsBadBuy')

In [36]:
df.columns

Index(['RefId', 'Auction', 'VehYear', 'VehicleAge', 'Make', 'Model', 'Trim',
       'SubModel', 'Color', 'Transmission', 'WheelTypeID', 'WheelType',
       'VehOdo', 'Nationality', 'Size', 'TopThreeAmericanName',
       'MMRAcquisitionAuctionAveragePrice', 'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice',
       'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice',
       'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice',
       'PRIMEUNIT', 'AUCGUART', 'BYRNO', 'VNZIP1', 'VNST', 'VehBCost',
       'IsOnlineSale', 'WarrantyCost', 'PurchYear', 'PurchMonth', 'PurchWeek',
       'PurchDay', 'PurchDayofweek', 'PurchDayofyear', 'PurchIs_month_end',
       'PurchIs_month_start', 'PurchIs_quarter_end', 'PurchIs_quarter_start',
       'PurchIs_year_end', 'PurchIs_year_start', 'PurchElapsed',
       'WheelTypeID_na', 'MMRAcquisitionAuctionAveragePrice_na',
       'MMRAcquisitionAuctionCleanPrice_na',
       'MMRAcquisitionRetailAveragePrice_na',
       'MMRAcquisitonRetailCleanPrice_na', 'MMRCurrentAuctionAveragePrice_na',
       'MMRCurrentAuctionCleanPrice_na', 'MMRCurrentRetailAveragePrice_na',
       'MMRCurrentRetailCleanPrice_na'],
      dtype='object')

In [39]:
df.head()

   RefId  Auction  ...  MMRCurrentRetailAveragePrice_na  MMRCurrentRetailCleanPrice_na
0      1        1  ...                            False                          False
1      2        1  ...                            False                          False
2      3        1  ...                            False                          False
3      4        1  ...                            False                          False
4      5        1  ...                            False                          False

[5 rows x 54 columns]

In [40]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.8905522208200365

In [119]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 12000  # same as Kaggle's test set size
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((60983, 54), (60983,), (12000, 54))

In [120]:
m.score(X_valid, y_valid)

0.9090739647365292

In [121]:
?m.predict

In [174]:
m.predict(df)

array([0.07, 0.03, 0.12, ..., 0.01, 0.05, 0.06])

In [176]:
predictions = m.predict(df)

In [190]:
predictions.sort()
F_x = 0
tot_area = 0
total = sum(predictions)
for n in predictions:
    f_x = n
    F_x = F_x + f_x
    perc_0 = (F_x - f_x)/total
    perc_1 = F_x/total
    area = (perc_0 + perc_1 / 2)*(1/len(predictions))
    tot_area = tot_area + area
gini_coeff = tot_area
print(gini_coeff)

0.2016141151572673

In [191]:
avg_kick_rate = sum(df_raw.IsBadBuy)/len(df_raw.IsBadBuy)
print(avg_kick_rate)
gini_coeff = gini_coeff/(1-avg_kick_rate)
print("The Gini coefficient based on random forest regressor is " + str(gini_coeff)) 
#233/570 in DontGetKicked Kaggle competition

0.12298754504473644
The Gini coefficient based on random forest regressor is 0.22988740241727995